<ng-container *ngComponentOutlet="navbarComponent"></ng-container>

<!--! Banner -->
<main class="banner">
    <div class="">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../../assets/img/iIndex/vengadores.jpg" class="w-100" style="height: 90vh; background-size: cover; max-width: 100%; background-position: center;" alt="...">
                <div class="carousel-caption d-none d-md-block text-white">
                  <h5>Los vengadores</h5>
                  <p>Los Vengadores, un equipo de superhéroes poderosos y diversos que se unen para proteger al mundo de amenazas catastróficas, combinando sus habilidades y valentía en la lucha por la justicia y la paz.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/img/iIndex/joker.jpg" class="w-100" style="height: 90vh; background-size: cover; max-width: 100%; background-position: center;" alt="...">
                <div class="carousel-caption d-none d-md-block text-white">
                  <h5>El Joker</h5>
                  <p>El Joker, una figura caótica y despiadada que desafía la cordura y desencadena el caos en la ciudad con una sonrisa siniestra..</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/iIndex/ironman.png" class="w-100" style="height: 90vh; background-size: cover; max-width: 100%; background-position: center;" alt="...">
                <div class="carousel-caption d-none d-md-block text-white">
                  <h5>Ironman</h5>
                  <p>Ironman: Un millonario egocéntrico convertido en superhéroe, cuyo genio y valentía lo llevan a proteger al mundo con su icónico traje tecnológico.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/iIndex/shield.jpg" class="w-100" style="height: 90vh; background-size: cover; max-width: 100%; background-position: center;" alt="...">
                <div class="carousel-caption d-none d-md-block text-white">
                  <h5>SHIELD</h5>
                  <p>SHIELD, una organización secreta y estratégica que opera en las sombras para proteger al mundo de amenazas sobrenaturales y supervillanos, reclutando a agentes altamente capacitados y empleando tecnología avanzada en su misión de salvaguardar la seguridad global.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/iIndex/civil.jpg" class="w-100" style="height: 90vh; background-size: cover; max-width: 100%; background-position: center;" alt="...">
                <div class="carousel-caption d-none d-md-block text-white">
                  <h5>Civil War</h5>
                  <p>Civil War, un enfrentamiento épico entre los superhéroes más icónicos, donde lealtades se dividen y la ética es puesta a prueba, mientras el mundo se sumerge en un conflicto explosivo y emocional que cambiará el curso del universo superheroico.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</main>
<!--! Contenido -->
<div class="container py-5" style="font-family: Cambria; font-size: 1.25em;">
    <h1 class="text-center text-white">SuperHeroes Adventures</h1>
    <p class="text-white text-center">¡Bienvenido a mi página de Superhéroes, donde la grandeza se une con lo extraordinario! Sumérgete en un mundo lleno de valientes defensores, poderes asombrosos y emocionantes aventuras. Aquí encontrarás todo lo que necesitas saber sobre tus superhéroes favoritos, desde sus orígenes y habilidades impresionantes hasta sus mayores hazañas y enemigos formidables. Prepárate para explorar un universo fascinante donde el bien lucha contra el mal, donde la esperanza prevalece y donde la imaginación desata su potencial ilimitado. ¡Únete a nosotros mientras desentrañamos los secretos de estos íconos de la justicia y descubrimos cómo han inspirado y emocionado a generaciones enteras! Bienvenidos a la morada de los héroes más poderosos y extraordinarios del universo.</p>
    <div class="row bgA">
        <div class="col-lg-6 col-sm-12 align-self-center">
            <h2 class="text-center">SuperHeroes</h2>
            Los superhéroes, en su esencia, representan la manifestación de los ideales humanos elevados a un nivel extraordinario. Son personajes con habilidades sobrehumanas o talentos excepcionales que utilizan sus poderes para luchar contra el mal y proteger a los inocentes. Estos valientes defensores personifican la valentía, la justicia y la determinación en su búsqueda por hacer del mundo un lugar mejor.
        </div>
        <div class="col-lg-6 col-sm-12 align-self-center">
            <img src="../../../assets/img/iIndex/lobezno.jpg" alt="" class="imgcard">
        </div>
    </div>
    <div class="row bgB">
        <div class="col-lg-6 col-sm-12 align-self-center">
            <img src="../../../assets/img/iIndex/duende.jpg" alt="" class="imgcard">
        </div>
        <div class="col-lg-6 col-sm-12 align-self-center">
            <h2 class="text-center">Villanos</h2>
            Los villanos, en el contexto de la narrativa de superhéroes, son personajes que se oponen y desafían a los protagonistas, representando fuerzas del mal, caos y destrucción. Son antagonistas poderosos y carismáticos que buscan alcanzar sus propios objetivos a expensas de los demás. Los villanos se presentan en diversas formas y tienen motivaciones variadas. Algunos son impulsados por el deseo de poder, riqueza o dominación, mientras que otros buscan venganza o la destrucción del orden establecido. Su carácter malévolo a menudo se manifiesta a través de acciones violentas, manipulación, engaño y crueldad.
        </div>
    </div>
    <div class="row bgB">
        <div class="col-lg-6 col-sm-12 align-self-center">
            <img src="../../../assets/img/iIndex/infinitu.jpg" alt="" class="imgcard">
        </div>
        <div class="col-lg-6 col-sm-12 align-self-center">
            <h2 class="text-center">Eventos</h2>
                Los eventos que viven los superhéroes son acontecimientos de gran envergadura en las historias de los cómics y adaptaciones cinematográficas donde múltiples personajes se unen o se enfrentan en tramas épicas y emocionantes. Estos eventos suelen tener un impacto significativo en el universo en el que se desarrollan y pueden cambiar el curso de la narrativa de los superhéroes.
        </div>
    </div>
</div>

<ng-container *ngComponentOutlet="footerComponent"></ng-container>
