<footer th:fragment="footer" class="pie fixed-bottom">
    <div class="cont-pie">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 footdiv">
                <p class="text-center">Redes: 
                    <a href="https://github.com/MatiasCV27" target="_blank"><i class="bi bi-github foota"></i></a>
                    <a href="https://twitter.com/MatiasCV27" target="_blank"><i class="bi bi-twitter foota"></i></a>
                    <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook foota"></i></a>
                    <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube foota"></i></a>
                    <a href="https://www.instagram.com/matias_cv27/?next=%2F" target="_blank"><i class="bi bi-instagram foota"></i></a>
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 footdiv">
                <p>Telefono: <a href="https://web.whatsapp.com" target="_blank" class="foota">967354987</a></p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 footdiv">
                <p class="text-center"><i>Copyright <strong>&copy;</strong> Matias Criollo VIgo <strong>2023</strong></i></p>
            </div>
        </div>
    </div>
</footer>
