<ng-container *ngComponentOutlet="navbarComponent"></ng-container>

<div class="container mt-5 mb-5" align="center">
    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRegistroEt">Registrar</button>
  </div>
  
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Lugar</th>
          <th scope="col">Impacto</th>
          <th scope="col">Fecha</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Imagen</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of data;let id = index">
          <th scope="row">{{ id + 1}}</th>
          <td>{{ datos.Nombre }}</td>
          <td>{{ datos.Lugar }}</td>
          <td>{{ datos.Impacto }}</td>
          <td>{{ datos.Fecha }}</td>
          <td>{{ datos.Descripcion }}</td>
          <td><img [src]="datos.Imagen" width="75"></td>
          <td>
            <button (click)="seleccionarEvento(datos.id)" class="btn btn-success btn-md" data-bs-toggle="modal" data-bs-target="#modalEditarEt">
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
          <td>
            <a (click)="eliminarEvento(datos.id, id)" class="btn btn-danger btn-md"><i class="bi bi-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!--TODO Modal de Registro -->
  <div class="modal fade" id="modalRegistroEt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modalStyle">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar nuevo evento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-3 mb-3">
          <div class="container">
            <form (ngSubmit)="registrarEvento()" [formGroup]="formulario" class="row g-3">
              <div class="col-md-6">
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="" formControlName="Nombre">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Lugar</label>
                <input type="text" class="form-control" id="" formControlName="Lugar">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Impacto</label>
                <input type="text" class="form-control" id="" formControlName="Impacto">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Fecha</label>
                <input type="text" class="form-control" id="" formControlName="Fecha">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="" formControlName="Descripcion">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Imagen (URL)</label>
                <input type="text" class="form-control" id="" formControlName="Imagen">
              </div>
              <div class="col-md-6 mt-4"></div>
              <div class="col-md-6 mt-4 d-flex justify-content-between">
                <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary mx-2" data-bs-dismiss="modal">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <!--TODO Modal de Editar -->
  <div class="modal fade" id="modalEditarEt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modalStyle">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar superheroe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-3 mb-3">
          <div class="container">
            <form (ngSubmit)="editarEvento(id)" [formGroup]="formularioEditar" class="row g-3">
              <div class="col-md-6">
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="" formControlName="Nombre" name="info.Nombre" [(ngModel)]="info.Nombre">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Lugar</label>
                <input type="text" class="form-control" id="" formControlName="Lugar" name="info.Lugar" [(ngModel)]="info.Lugar">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Impacto</label>
                <input type="text" class="form-control" id="" formControlName="Impacto" name="info.Impacto" [(ngModel)]="info.Impacto">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Fecha</label>
                <input type="text" class="form-control" id="" formControlName="Fecha" name="info.Fecha" [(ngModel)]="info.Fecha">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="" formControlName="Descripcion" name="info.Descripcion" [(ngModel)]="info.Descripcion">
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Imagen (URL)</label>
                <input type="text" class="form-control" id="" formControlName="Imagen" name="info.Imagen" [(ngModel)]="info.Imagen">
              </div>
              <div class="col-md-6 mt-4"></div>
              <div class="col-md-6 mt-4 d-flex justify-content-between">
                <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary mx-2" data-bs-dismiss="modal">Editar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 

<ng-container *ngComponentOutlet="footerComponent"></ng-container>
