<nav class="navbar navbar-dark navbar-expand-md fondo">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.JPG" alt="" style="width: 100px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page"><strong>Inicio</strong></a>
            </div>

            <!--TODO: Desplegable para visualizar elementos -->
            <li class="navbar-nav dropdown text-white">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Visualizar
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Eventos</a></li>
                    <li><a class="dropdown-item">Villanos</a></li>
                    <li><a class="dropdown-item">Super-Heroes</a></li>
                </ul>
            </li>

            <!--TODO: Desplegable de Administración -->
            <li class="navbar-nav dropdown text-white">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mantenimiento
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Eventos</a></li>
                    <li><a class="dropdown-item">Villanos</a></li>
                    <li><a class="dropdown-item">Superheroes</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item">Usuarios</a></li>
                </ul>
            </li>

            <!--TODO: Desplegable de Usuario -->
            <!-- <ul class="navbar-nav mr-auto">
                <li>
                    <a class="btn btn-outline-warning" style="margin-left: 20px;">Iniciar Sesión</a>
                </li>
                <div class="dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <strong class="text-white"><span sec:authentication="name">Salir</span></strong>
                    </a>
                </div>
            </ul> -->
        </div>
    </div>
</nav>