<nav class="navbar navbar-dark navbar-expand-md fondo">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.JPG" alt="" style="width: 100px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" [routerLink]="['/home']"><strong>Inicio</strong></a>
                <a class="nav-link" [routerLink]="['/galeria']"><strong>Galeria</strong></a>
                <a class="nav-link" [routerLink]="['/eventos']"><strong>Eventos</strong></a>
                <a class="nav-link" [routerLink]="['/villanos']"><strong>Villanos</strong></a>
                <a class="nav-link" [routerLink]="['/superheroes']"><strong>Superheroes</strong></a>
                <!-- <a class="nav-link" [routerLink]="['/usuarios']"><strong>Usuarios</strong></a> -->
                <a class="nav-link" [routerLink]="['/contacto']"><strong>Contacto</strong></a>
                <a class="nav-link" [routerLink]="['/register']"><strong>Registrar</strong></a>
                <a class="nav-link" [routerLink]="['/login']"><strong>Login</strong></a>
                <a class="nav-link" (click)="onClick()" style="cursor: pointer;"><strong>Logout</strong></a>
            </div>
        </div>
    </div>
</nav>